{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>
<h2>
<form action="" method="get">
    {{ filterset.form }}
    <input type="submit" value="Найти">
</form>
</h2>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
        <input type="submit" value="Выйти">
    </form>


<h1>Отклики:</h1>
    <table>
        <tr>
            <th>Текст</th>
            <th>Статус</th>
        </tr>
    {% for comment in comments %}
        <tr>
            <th>{{ comment.preview }}</th>
            {% if comment.status == 'pending' %}
            <th><a href="{% url 'accept' comment.id %}">Принять</a></th>
            <th><a href="{% url 'reject' comment.id %}">Отклонить</a></th>
        </tr>
        {% else %}
            <th>{{ comment.get_status_display }}</th>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}